/*
 *
 * PLUGIN: jspsych-SAM_pictures
 *
 */
 
 .jspsych-display-element {
/*  width: 800px; */
    margin: 0px auto 0px auto;
}
 
 .jspsych-SAM_pictures {
     margin: .25em 0em;
 }


.jspsych-SAM-pictures-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

 .jspsych-SAM_pictures-question {
     margin-top: 5px;
     margin-bottom: 15px;
     margin-left: auto ;
     margin-right: auto ;
 }


.jspsych-SAM_pictures-text {
     margin-top: 0px;
     margin-bottom: 0px;
     margin-right: 0px;
     margin-left: 0px;
 }

.jspsych-survey-likert-text {
  font-size: 16px;
  text-align: center;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 4px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.jspsych-survey-likert-sliderlabels {
  font-size: 80%;
  line-height: 1.15em;
}

.jspsych-survey-likert-question {
    width: 70%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin: 0 auto;
}

.jspsych-compare-videos {
  margin: 0 auto;
  display: block;
}

.jspsych-compare-button {
  margin-top: 2em;
  display: block;
}

#jspsych-mark-video-vid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
 }


.ui-slider-horizontal {
  height: .3em; 
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.4em;
  margin-left: -.6em;
}

button {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}


button[disabled] {
    color: #fff;
/*    background-color: #000000;*/
    opacity: 0.4;
    border-color: #357ebd;
    cursor: not-allowed;
}

    
#jspsych-SAM_pictures-next {
  display: block;
  margin: auto;
}

/* these are all the same for now, but easy to modify individually */
#container-instructions {
    position: absolute;
    top: 0px; /* Header Height */
    bottom: 0px; /* Footer Height */
    left: 0px;
    right: 0px;
    padding: 50px;
    padding-top: 0%;
    border: 18px solid #f3f3f3;
    background: white;
}

#container-NITC-questions {
    top: 0px; /* Header Height */
    bottom: 0px; /* Footer Height */
    left: 0px;
    right: 0px;
    padding: 50px;
    padding-top: 0%;
    border: 18px solid #f3f3f3;
    background: white;
    display: block;
}


.buttonHolder{ 
    text-align: center; 
}

.textRight{ 
    text-align: right; 
}

.questions_fieldset{ 
    display: inline-block;
}

.left_space_radio{
    margin: 3px 3px 3px 3em;
}

.noleft_space_radio{
    margin: 3px 3px 3px 3px;
}

input[type=range]{
  width: 100%;
  cursor: pointer;
}


.jspsych-compare-videos-video {
    margin-top: 2em;
    margin-bottom: 0em;
}


div#jspsych-mark-video {
    margin-top: 20px;
}



div#divleft {
    width: 50%;
//    background: red;
    float: left;
    text-align: center;
    margin-bottom: 2em;
}
div#divright {
    width: 50%;
//    background: black;
    float:right;
    text-align: center;
}

// new


//#jspsych-div-audio{
//    width:100%;
////    display: block;
//    margin-left: auto;
//    margin-right: auto;
//    background-color: #000000;
// }

.jspsych-div-audio{
//    width: 60%;
//    margin-top: 10em;
//    margin: 0 auto;
//    background-color: #000000;
  margin: 0 auto;
  display: block;
}

.jspsych-audio-button {	
  margin: 0 auto;
  display: block;
}


.jspsych-test-audio-text {
     margin-top: 30px;
     margin-bottom: 30px;
     margin-right: 30px;
     margin-left: 30px;
 }

.jspsych-text-input {
    width:30em;
    margin: 0 auto;
    display: block;
    
}


