table.striped-columns tbody td:nth-of-type(even),
table.striped-columns th:nth-of-type(even) {
    background: rgb(235, 227, 209);
}

table.table_ratings {
    border-collapse: collapse;
    border-spacing: 0;
}

table.table_ratings td,
table.table_ratings th {
    border: 1px solid grey;
    padding: 3px;
    text-align: center;
}

/* this works for the table item labels */
table.table_ratings td:first-child {
    text-align: left;
    font-size: 13px;
}

table.table_ratings {
    font-size: 12px;
    line-height: 1.3em;
    margin: auto;
}

div.div_table_container {
    margin: 0px 20px 20px 20px; /* t r b l */
}


.jspsych-display-element {
    width: 900px;
    margin: auto;
    text-align:center;
}


div.jspsych-custom_survey-preamble {
    font-size: 14pt;
    margin: 20px auto 5px auto; /* t r b l*/
    text-align: left;				
}